<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <main>
        <section class="top-container">
            <h1>All Students</h1>
            <h3 id="create-student"><a th:href="@{'/createstudent'}" >Create new student</a></h3>
        </section>
        <section class="middle-container">
            <table class="students-table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                <tbody>
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}">ID</td>
                        <td th:text="${student.name}">name</td>
                        <td><a th:href="@{'/edit/' + ${student.id}}">Edit</a></td>
                        <td><a th:href="@{'/delete/' + ${student.id}}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>